.parent {
  text-align: center;
  color: white;
  min-height: 100vh;
}
.auth-section {
  height: calc(8 * 1.25rem);
  width: 40vw;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-font{
  font-size: 0.875
}
.bg-highlight {
  background-color: #30353f;
}
.mid-font {
  font-size: 1.25rem;
  font-weight: 300;
}
.mid-font-img {
  width: 1.25rem;
  height: 1.25rem;
}
.link {
  color: #61dafb;
}
.small-lead-font {
  font-size: 0.8rem;
  font-weight: 300;
}
