.parent {
  text-align: center;
  color: white;
  min-height: 100vh;
}
.auth-section {
  min-height: calc(8 * 1.25rem);
  width: calc(min(40vw, 425px));
  text-align: left;
  border-radius: 0.3rem;
  border-top-left-radius: 0rem;
}
.button-font {
  font-size: 0.875;
}
.bg-highlight {
  background-color: #30353f;
}
.mid-font {
  font-size: 1.25rem;
  font-weight: 300;
}
.mid-font-img {
  width: 1.25rem;
  height: 1.25rem;
}
.link {
  color: #61dafb;
}
.small-lead-font {
  font-size: 0.8rem;
  font-weight: 300;
}
.lead-font {
  font-weight: 300;
}

.model-view {
  width: calc(min(max(45vw, 515px), 75vw));
}
.scroll {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
