.parent {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}
.bg-highlight {
  background-color: #30353f;
}
.mid-font {
  font-size: 1.25rem;
}
.mid-font-img {
  width: 1.25rem;
  height: 1.25rem;
}
.link {
  color: #61dafb;
}
.small-font {
  font-size: 0.8rem;
  font-weight: 300;
}
